<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear/>
    <add key="old" value="https://www.myget.org/F/dependabot-nuget-bug-old/api/v3/index.json" />
    <add key="new" value="https://www.myget.org/F/dependabot-nuget-bug-new-disabled/api/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <add key="new" value="true" />
  </disabledPackageSources>
</configuration>
